body{
    font-family: Outfit;
    background-color: hsl(30, 18%, 87%);
    color: hsl(24, 5%, 18%);
    padding: 5rem;
    line-height: 1.5;
}
hr{
    border-bottom: 1px solid hsl(31, 100%, 96%);
}
h1{
    font-family: Young Serif;
}
li span, th{
    font-size: 16px;
    font-weight: 700;
    color: hsl(30, 10%, 34%);
}
h3, td{
    font-weight: 700;
    color:hsl(14, 45%, 36%);
    font-family: Young Serif;
}
li::marker{
    color: hsl(14, 45%, 36%);
}
.recipe-card{
    background-color: #fff;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    max-width: 750px;
    padding: 1.5rem;
}
img{
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.prep-time-box{
    background-color: hsl(330, 100%, 98%);
    border-radius: 25px;
    padding: 1rem;
}
.prep-time-box h4{
    margin: 0;
    color: hsl(332, 51%, 32%);
}
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    text-align: left;
    padding:8px;
    border-bottom: 1px solid hsl(29, 65%, 88%);
}
tr:last-child td, tr:last-child th{
    border-bottom: none;
}
@media (max-width: 600px) {

  body {
    padding: 0;
    margin: 0;
  }

  .recipe-card {
    border-radius: 0;
    max-width: 100%;
    padding: 2rem 1.5rem;
  }

  img {
    border-radius: 0;
    width: 100%;
    display: block;
  }

}
